RESEND_API_KEY=sua_chave_do_resend
EMAIL_TO=seu_email@dominio.com
RESEND_FROM=onboarding@resend.dev
UPSTASH_REDIS_REST_URL=rediss://sua_url_do_upstash
CRON_SECRET=seu_token_da_pipeline_no_github_actions
TRACK_TOKEN=seu_token_de_rastreamento_do_cliente
ALLOWED_DOMAIN=seu_dominio
PORT=8080